.slider {
  width: 300px;
  margin: auto;
  position: relative;
}

.dashboard {
  width: 300px;
  height: 3em;
  line-height: 3em;
  text-align: right;
  padding-right: 1em;
  color: #8e8e8e;
  font-size: 14px;
  background-color: #f6f6f6;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.percentage {
  font-weight: 800;
  color: black;
  font-size: 16px;
  margin-right: 2em;
}

.way-point {
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 1em;
  background-color: #50acad;
  font-size: 12px;
  position: absolute;
}

input[type='range'] {
  width: 300px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
}

input[type='range']::-webkit-slider-thumb {
  background-color: red;
  cursor: pointer;
}
